body {
	background-color: #d8ddbb;
}

.bxcontainer {
	padding: 0 25px;
}
.bxslider li {
	padding: 0 20px 40px;
}
.top-header-row {
	background-color: #ddd;	
}
.top-header-cell {
	text-align: center;
}
#planetInfo {
	margin-bottom: 40px;
}
#planetResources td{
	padding: 20px;
}